<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Recipe Home</title>
</head>
<body>
<h1>My Recipes!</h1>
<ul th:each="recipe : ${recipes}">
    <li th:text="${recipe.description}"></li>
    <li th:text="${recipe.getCategories()}"></li>
    <li th:text="${recipe.getPrepTime()}"></li>
    <li th:text="${recipe.getCookTime()}"></li>
    <li th:text="${recipe.getDifficulty()}"></li>
    <ul th:each="ingredient : ${recipe.getIngredients()}">
        <li><span th:text="${ingredient.getDescription()}"></span>: <span th:text="${ingredient.getAmount()}"></span>
            <span th:text="${ingredient.getUom().getDescription()}"></span></li>
    </ul>
</ul>
</body>
</html>